/* base styles */
* {
	font-family: Arial;
}

h1 {
	text-align: center;
	font-size = 175%;
}

/* section headings in upper right corner */
h4 {
	/*border: 1px black solid;*/
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	width: 30%;
	float: right;
	text-align: center;
	margin-top: -1.25em;
	margin-right: -1em;
	margin-bottom: -1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-size = 125%;
}

/* menu sections */
div {
	background-color: #ffccff;
	margin-top: 10px;
	border: 1px black solid;
	display: inline;
	box-sizing: border-box;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.25em;
	margin: 1%;
}

#chicken {
	background-color: #ffffcc;
}

#beef {
	background-color: #ccffcc;
}

#sushi {
	background-color: #99ccff;
}

@media (min-width: 992px) {
	div {
	width: 31%;
	height: 13em;
}

@media (min-width: 768px) and (max-width: 991px) {
	div {
		width: 48%;
		height: 11em;
	}

	#third {
		clear: both;
		width: 98%;
		height: 11em;
	}
}

@media (max-width: 767px) {
	div {
		clear: both;
		width: 98%;
		height: 11.5em;
	}
}
